<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/startpage_style.css">
</head>
<body>
    @RenderBody()
    <footer class="footer">
        <div class="footer__block">
            <a href="#" class="footer__link">© 2020 PasswordHub, Inc.</a>
            <a href="#" class="footer__link">Безопасность</a>
            <a href="#" class="footer__link">Политика</a>
            <a href="#" class="footer__link">Карта сайта</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>