<div class="cards__title-block">
    <p class="categories__user-filter-title">Карточки</p>
    <button class="categories__user-filter-add button-style">Добавить</button>
</div>
<div class="cards__list-block">
    <ul class="cards__list" id="cards__list">
        <li class="cards__item">
            <div class="cards__item-block">
                <p class="cards__item-text">google.com</p>
                <p class="cards__item-text">nikitavasilev@gmail.com</p>
                <div class="cards__item-signature">
                    <p class="cards__item-text-signature">Аккаунты</p>
                    <p class="cards__item-text-signature">13:16 07.10.2020</p>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="cards__item-block">
                <p class="cards__item-text">google.com</p>
                <p class="cards__item-text">nikitavasilev@gmail.com</p>
                <div class="cards__item-signature">
                    <p class="cards__item-text-signature">Аккаунты</p>
                    <p class="cards__item-text-signature">13:16 07.10.2020</p>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="cards__item-block">
                <p class="cards__item-text">google.com</p>
                <p class="cards__item-text">nikitavasilev@gmail.com</p>
                <div class="cards__item-signature">
                    <p class="cards__item-text-signature">Аккаунты</p>
                    <p class="cards__item-text-signature">13:16 07.10.2020</p>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="cards__item-block">
                <p class="cards__item-text">google.com</p>
                <p class="cards__item-text">nikitavasilev@gmail.com</p>
                <div class="cards__item-signature">
                    <p class="cards__item-text-signature">Аккаунты</p>
                    <p class="cards__item-text-signature">13:16 07.10.2020</p>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="cards__item-block">
                <p class="cards__item-text">google.com</p>
                <p class="cards__item-text">nikitavasilev@gmail.com</p>
                <div class="cards__item-signature">
                    <p class="cards__item-text-signature">Аккаунты</p>
                    <p class="cards__item-text-signature">13:16 07.10.2020</p>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="cards__item-block">
                <p class="cards__item-text">google.com</p>
                <p class="cards__item-text">nikitavasilev@gmail.com</p>
                <div class="cards__item-signature">
                    <p class="cards__item-text-signature">Аккаунты</p>
                    <p class="cards__item-text-signature">13:16 07.10.2020</p>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="cards__item-block">
                <p class="cards__item-text">google.com</p>
                <p class="cards__item-text">nikitavasilev@gmail.com</p>
                <div class="cards__item-signature">
                    <p class="cards__item-text-signature">Аккаунты</p>
                    <p class="cards__item-text-signature">13:16 07.10.2020</p>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="cards__item-block">
                <p class="cards__item-text">google.com</p>
                <p class="cards__item-text">nikitavasilev@gmail.com</p>
                <div class="cards__item-signature">
                    <p class="cards__item-text-signature">Аккаунты</p>
                    <p class="cards__item-text-signature">13:16 07.10.2020</p>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="cards__item-block">
                <p class="cards__item-text">google.com</p>
                <p class="cards__item-text">nikitavasilev@gmail.com</p>
                <div class="cards__item-signature">
                    <p class="cards__item-text-signature">Аккаунты</p>
                    <p class="cards__item-text-signature">13:16 07.10.2020</p>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="cards__item-block">
                <p class="cards__item-text">google.com</p>
                <p class="cards__item-text">nikitavasilev@gmail.com</p>
                <div class="cards__item-signature">
                    <p class="cards__item-text-signature">Аккаунты</p>
                    <p class="cards__item-text-signature">13:16 07.10.2020</p>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="cards__item-block">
                <p class="cards__item-text">google.com</p>
                <p class="cards__item-text">nikitavasilev@gmail.com</p>
                <div class="cards__item-signature">
                    <p class="cards__item-text-signature">Аккаунты</p>
                    <p class="cards__item-text-signature">13:16 07.10.2020</p>
                </div>
            </div>
        </li>
    </ul>
</div>