<div class="cards__title-block">
    <p class="categories__user-filter-title">Карточки</p>
    <a class="categories__user-filter-add button-style" asp-action="CreateCard">Добавить</a>
</div>
<div class="cards__list-block">
    <ul id="card-user-list" class="cards__list" id="cards__list">
    </ul>
</div>