<ul class="categories__filter-list">
    <li class="categories__filter-item">
        <p class="categories__filter-link clickable-block" onclick="GetCardList(null)">Все карточки</p>
    </li>
</ul>
<div class="categories__user-filter">
    <div class="categories__user-filter-title-block">
        <p class="categories__user-filter-title">Категории</p>
        <a class="categories__user-filter-add button-style" asp-action="CreateCategory">Добавить</a>
    </div>
    <ul id="categories-user-filter-list" class="categories__user-filter-list"></ul>
    <div id="img-sitting"><img class="categories__user-category-edit" src="~/img/settings.png"/></div>
    
</div>